html, body
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    background: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c
}
#headers
{
    background: #2b2b2b;
}
#header
{
    position: relative;
    height: 100px;
    width: 90%;
}
.containers
{
    margin: 0px auto;
    width: 1200px;
}
#logo
{
    position: absolute;
    top: 2em;
    width: 100%;
}
#logo h1
{
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ED7070;
    padding-right: 0.50em;
    border-right: 1px solid rgba(0,0,0,.1);
}
#logo span
{
    display: inline-block;
    padding-right: .50em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
}
#logo a
{
    text-decoration: none;
    color: #FFF;
}
#logo .fa
{
    color: #8dc63f;
}
#logo .fa:after
{
    position: absolute;
    display: inline-block;
    padding-right: 2em;
}
#menu
{
    position: absolute;
    right: 0;
    top: 1.6em;
}
#menu ul
{
    display: inline-block;
}
#menu li
{
    display: block;
    float: left;
    text-align: center;
}
#menu li a, #menu li span
{
    display: inline-block;
    margin-left: 1px;
    padding: 1em 1.5em 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}
#menu li:hover a, #menu li.active a, #menu li.active span
{
}
#menu .current_page_item a
{
    color: #8dc63f;
}
main {
    margin-top: 5%;
    position: relative;
}
.buttons {
    position: relative;
    margin: 0 auto;
    font-size: medium;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play_button {
    height:50px;
    width:180px;
    border-radius: 25px;
    margin-left: 5px;
    background: linear-gradient(90deg,#FF8C00,#FF4500);
    box-shadow: 0 0 10px #000;
}
.refresh_button {
    height:50px;
    width:180px;
    border-radius: 25px;
    margin-right:  5px;
    background: linear-gradient(90deg,#FF8C00,#FF4500);
    box-shadow: 0 0 10px #000;
}
.play_button:hover {
    background: linear-gradient(90deg,#FFA500,#FF8C00);
}
.refresh_button:hover {
    background: linear-gradient(90deg,#FFA500,#FF8C00);
}

.field {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5,100px);
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.field div:hover {
    box-shadow: 0 0 25px #FF4500;
    border: 1px solid #fff;
}
.image {
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
    animation: animate 4s ease-in-out infinite;

}
@keyframes animate {
    0%
    {
        box-shadow: 0 0 5px #000;
    }
    20%
    {
        box-shadow: 0 0 13px #000;
    }
    40%,100%
    {
        box-shadow: 0 0 5px #000;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
© 2022 GitHub, Inc.
